<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.lifehug.weekly</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/bash</string>
    <string>&lt;FRAMEWORK_ROOT&gt;/system/weekly_maintenance.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>&lt;VAULT_ROOT&gt;</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>WORKSPACE</key>
    <string>&lt;VAULT_ROOT&gt;</string>
  </dict>
  <key>StartCalendarInterval</key>
  <dict>
    <key>Weekday</key><integer>1</integer>
    <key>Hour</key><integer>20</integer>
    <key>Minute</key><integer>0</integer>
  </dict>
</dict>
</plist>
